.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
header{
    text-align: center;
    background-color: DarkSlateGrey;
    border: 2px solid white;
    grid-column: 2/4;
}
nav{
    text-align: center;
    background-color: DarkSlateGrey;
    border: 2px solid white;
    padding: 46px;
    grid-row: 1/4;
}
article{
    text-align: center;
    background-color: DarkSlateGrey;
    border: 2px solid white;
    height: 300px;
}
footer{
    text-align: center;
    background-color: DarkSlateGrey;
    border: 2px solid white;
    height: 45px;
    grid-column: 2/4;
}
aside{
    text-align: center;
    background-color: DarkSlateGrey;
    border: 2px solid white;
    height: 300px;
}
