body{
    margin: 0 auto;
    max-width: 900px;
    width:90%;
    }
#box{
    float: right;
    width:140px;
    border-radius: 5px;
    background-color: burlywood;
    padding: 0.5em;
    margin: 0.7cm;
}
#box1{
    float: left;
    width:140px;
    border-radius: 5px;
    background-color: burlywood;
    padding: 0.5em;
    margin: 0.7cm;
}
.most{
    background-color:rgb(122, 82, 82);
    padding: 15px;
    color: white;
}
.second{
    background-color:rgb(122, 82, 82);
    padding: 15px;
    color: white;
}